-
	let info = [
		{
			id: "programm-classic",
			img: "dist/assets/img/classic.jpg",
			preTitle: "Программа",
			title: "Relax classic",
			text: [
				"В&nbsp;вашем распоряжении будет вся студия с&nbsp;шикарным располагающим интерьером, способствующим наполнению энергией и&nbsp;максимальному расслаблению.",
				"Возможность выбора мастера (мужчину или девушку).",
				"Классический массаж всего тела масляный, кремовый или пудровый (60&nbsp;мин) с&nbsp;возможностью выбора аром компонентов как часть ароматерапии.",
				"Возможность принять горячий душ до&nbsp;и&nbsp;после процедуры массажа (халат, полотенца, одноразовые тапочки, набор косметических моющих средств каждому гостю).",
				"Чаепитие с&nbsp;вкусными и&nbsp;полезными восточными дополнениями, и&nbsp;авторским целебным чаем.",
				"Диагностика осанки и&nbsp;проблемных сегментов тела (по&nbsp;желанию гостя).",
			],
		},{
			id: "programm-thai",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Программа",
			title: "Тhai Relax",
			text: [
				"Программа «Тhai Relax», на основе традиционного тайского массажа, нацелена на глубокое расслабление, наряду с интенсивным притоком жизненных сил. Бытует мнение, что данная техника массажа способна заменить всю современную медицину.",
				"Его еще называют «йогой для ленивых». Вас будут складывать в разнообразные позы, разгибать и сгибать ваши руки и ноги. Этот своеобразный «танец» соединит и сбалансирует тело, дух и душу, а также приведет в тонус опорно-двигательный аппарат, связки, нервные окончания и лимфатическую систему.",
				"Во время массажа, Вам может показаться, что ваше тело хаотично сдавливают, растягивают, скручивают. Однако это не так — все делается последовательно: одни воздействия расслабляют, другие, наоборот, тонизируют организм. Подобный результат можно получить разве что благодаря полноценному трехдневному отдыху на море.",
				"И еще, самый главный миф гласит о том, что массажист обязательно ходит по вашей спине во время массажа. Это не так. Мастер оказывает воздействие при помощи локтей и колен, надавливая ими на спину, что помогает добраться до глубоких слоев и максимально расслабить мышцы.",
				"Главными последствиями этой программы для Вас будут - отличное настроение, легкость во всем теле и восторг, восторг!!!",
			],
		},{
			id: "programm-lomi",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Программа",
			title: "Lomi-Lomi Relax",
			text: [
				"Программа «Lomi-Lomi Relax» основана на традиционном гавайском массаже, с которым к Вам придёт ощущение неторопливости бытия, гибкости и текучести, в котором живут жители Полинезии. Не зря Ломи-Ломи в переводе означает \"мягкое касание бархатной лапы довольного кота\".",
				"Ломи-Ломи – это ритмический массаж всего тела, который проводится с помощью теплого масла под звуки целительной музыки, приносящий не только удовольствие и глубокое расслабление, но даже позволяет справиться со сложной задачей, утрясти внутренний конфликт и принять важное решение.",
				"Издревле этот массаж использовали целители при обряде инициации, чтобы путем массажа устранить страх нового пути.",
				"Массажист работает с помощью предплечий. При этом создается впечатление, будто нежные волны продвигаются по телу. Руки массажиста не сконцентрированы на одном участке, а могут находиться одновременно в разных местах. К примеру, пока одна рука может лежать на плече, другая будет массажировать бедро. Благодаря этому сознанию тяжело контролировать процесс, и вы погружаетесь в глубокое расслабление.",
				"После массажа возникает ощущение наполнения и радости. Гавайский массаж дает эффект, равный трем дням отдыха на комфортабельном курорте!",
			],
		},{
			id: "programm-enrike",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Программа",
			title: "Еnrike Garsia Relax",
			text: [
				"Программа «Enrike Garsia Relax» на основе испанского массажа - это причудливый коктейль массажных методик, целый комплекс всевозможных техник для решения комплексной задачи. Особенность массажа в том, что каждое последующее касание тела не похоже на предыдущее. Такая методика стимулирует реакцию нервных клеток, что приводит к интенсивным мышечным сокращениям, несмотря на то, что сами касания тела достаточно легкие.",
				"Принципиальное отличие испанского от других систем массажа в особо бережном растяжении мышц и пластичности, отсутствии неприятных ощущений вовремя и после сеанса. Со стороны он напоминает красивейший танец массажиста над телом человека, при котором он выполняет, казалось бы, простое поглаживание. Но в действительности этот массаж очень глубокий: в результате полного расслабления мышц достигаются поразительные результаты.",
				"После курса испанского массажа люди нередко отказываются от запланированной пластической операции - за ненадобностью.",
				"Испанская методика признана уникальной, так как позволяет достигать стабильных результатов в короткие сроки, и полноценно воздействовать на процессы биологического старения кожи.",
			],
		},{
			id: "programm-assorted",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Программа",
			title: "Assorted Relax",
			text: [
				"В нашей жизни должно быть место не только стрессам и проблемам, но также отдыху и расслаблению, а если еще и с пользой для здоровья, то выбор очевиден. В этом каждому может помочь массаж. Какой из видов массажа вы выбираете – зависит от ваших предпочтений и желаемого результата. Сегодня же мы поведем речь о очень интересной авторской программе массажа «Assorted relax». Этот вид массажа объединяет в себе знания о теле и физиологии человека с восточными практиками. Одной из особенностей этой программы является уникальность движений – ни один из приемов не повторяется дважды. Это делается для того, чтобы тело ощущало каждое прикосновение по-новому. Прорабатывается каждая мышца, из них буквально выходит напряжение. При таком массаже можно добиться полного расслабления – нет никаких болезненных ощущений, а эффект при этом удивительный!",
				"«Assorted relax» - массаж, где воздействие рук - это высочайшее искусство, а каждый массаж - эксклюзивное произведение.",
			],
		},{
			id: "programm-viprelax",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Программа",
			title: "VIP Relax",
			text: [
				"Программа «VIP Relax» это авторский, расслабляющий и оздоровительный массаж всего тела, разработанный специально для нашей студии, в тесном сотрудничестве с чемпионом мира по массажу 2018 года в Париже, японским терапевтом TOKUTO.",
				"Вы наверняка знаете, что два человека в мире могут быть соединены последовательностью личных контактов и что эта цепочка в большинстве случаев будет составлена из определенного числа (а именно — из пяти) звеньев или шести рукопожатий.",
				"Вот именно этой теорией мы и воспользовались (спасибо соцсетям) при прохождении квеста от Одессы до Токио. И она сработала!!! Мы обратились с просьбой к господину TOKUTO помочь нам разработать эксклюзивный сеанс массажа, который бы основывался на его богатом опыте. И благо, он благосклонно согласился. Так родился наш авторский сеанс массажа «VIP Relax», который можно прочувствовать только в нашей студии.",
			],
		},{
			id: "programm-yinyang",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Программа",
			title: "Yin-Yang Relax",
			text: [
				"Если массаж, исполняемый одним человеком, может перенести в страну блаженства, а иногда даже в объятия Морфея, то массаж в четыре руки по программе «Yin-Yang Relax» экстремальным образом усиливает ощущения подобного рода.",
				"Кроме того, максимальный эффект достигается, за счет того, что массаж в 4-е руки проводят женщина и мужчина, это способствует восстановлению баланса энергетических каналов (женского и мужского).  Инь и Янь служат для выражения светлого и темного, мягкого и твердого, женского и мужского начал в природе. Если тело человека находится в состоянии равновесия Инь и Янь - это здоровое тело. Если между этими двумя каналами нарушается баланс - нарушается гармония в организме, которая проявляется как на психоэмоциональном, так и на физическом уровнях.",
				"И еще, этот вид массажа дает нам самые удивительные, самые незабываемые ощущения. И секрет этого кроется в физиологии человеческого тела. Наш мозг устроен так, что, когда с нашим телом работает один мастер, мы невольно следим за его руками, как бы анализируя его работу и свои ощущения. При работе двух мастеров мозг не может концентрировать внимание сразу на двух областях тела, мозг устает и через 10-15 минут человек полностью расслабляется. Вы уже не следите за работой массажистов, вы просто наслаждаетесь.",
				"И это наикротчайший путь по маршруту: студия RELAX PARADISE - БЛАЖЕНСТВО, ДОБРО И РАДОСТЬ.",
			],
		},{
			id: "course-classic",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Классический",
			text: [],
		},{
			id: "course-train",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Анатомические поезда",
			text: [],
		},{
			id: "course-lymph",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Лимфодренажный",
			text: [],
		},{
			id: "course-anti",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Антицеллюлитный",
			text: [],
		},{
			id: "course-sigment",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Сигментарный",
			text: [],
		},{
			id: "course-sport",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Спортивный",
			text: [],
		},{
			id: "course-sport",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Курс",
			title: "Спортивный",
			text: [],
		},{
			id: "face-corugi",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "массаж лица",
			title: "Коруги",
			text: [
				"Массаж лица «КОРУГИ» покорил звезд по всему миру: улучшает состояние кожи, подтягивает ее, убирает морщины. Он затрагивает кости черепа, а не только кожу и мышцы. Другое название «КОРУГИ» - «ручная пластическая операция».",
				"На вопрос, зачем вообще двигать кости черепа в мирных целях, говорят, что они тоже чуть-чуть проседают под действием гравитации и времени, а за ними уже и мышцы, и кожа, и здравствуй, птоз. По факту, Вы получаете просто собранное, а не расплывшееся лицо.",
				"<span>Массаж «КОРУГИ» проводится приблизительно в течении 60 мин. в четыре этапа:</span><span><span>- мягкая мануальная коррекция формы черепа и лица;</span><span>- массаж зоны декольте и шеи;</span><span>- массаж мягких тканей лица;</span><span>- массаж губ.</span></span>",
				"Лифтинг заметен сразу после первой процедуры, а вообще рекомендуем делать раз в две недели в течении 2-3 месяцев – для стойкого эфекта.",
			],
		},{
			id: "face-ispan",
			img: "dist/assets/img/foto2.jpg",
			preTitle: "Массаж лица",
			title: "Испанский массаж",
			text: [
				"Испанский хиропластический массаж лица – это уникальная техника мануальной терапии, которая влияет на состояние мышц, кровеносную и лимфатическую системы, улучшает цвет и упругость кожи, избавит от отеков под глазами, значительно улучшит контуры лица.",
				"Отличие хиропластического массажа лица от других массажных техник заключается в специфике массажных линий и особой пластичности движений.",
				"Техника испанского массажа лица – признана уникальной и считается мануальной альтернативой пластической хирургии.",
				"<span>Рекомендуемая частота прохождения курса испанского массажа:</span><span><span>20 + - 1 раз в год;</span><span>30 + - 1-2 раза в год;</span><span>40 + - 2-3 раза в год, с поддерживающими массажами лица между курсами 1 раз в 1-2 недели.</span></span>",
				"Количество процедур на курсе от 5 до 15 в зависимости от состояния кожи и мышц лица, через день или максимальным разрывом два раза в неделю.",
			],
		},
	];

each item in info
	.modal-info__main(id=item.id, style="display: none;")
		.modal-info__image
			img(src=item.img, alt=item.preTitle + item.title)
		.modal-info__container.container
			h2.modal-info__title!= "<span>" + item.preTitle + "</span>" + item.title
			-
				let txtArr = item.text
			each txt in txtArr
				p.modal-info__txt!= txt